---
import BaseHead from '../components/BaseHead.astro';
import Background from '../components/Background.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import TagGraph from '../components/TagGraph.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			html, body { height: 100%; margin: 0; }
			body {
				display: flex;
				flex-direction: column;
			}
		</style>
	</head>
	<body>
		<Background />
		<Header />
		<TagGraph />
		<Footer />
	</body>
</html>
